.action_btn {
  padding: 8px 20px;
  background-color: var(--yellow);
  border-radius: 10px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.action_btn:hover,
.action_btn:active {
  background-color: var(--light-red);
  color: var(--white);
}